<h1>Demo#index</h1>
<p>Hello World</p>

<a href="/demo/hello">Hello page 1</a><br/>
<%= link_to('Hello Page 2', {:action => 'hello'}) %><br/>

<%= link_to('Hello with parameters', {:action => 'hello', :page => 5, :id => 20}) %>